# Python
.venv/
__pycache__/
*.pyc

# JavaScript
eslint.config.js

# Heroku
.env
# Maybe Heroku
instance/

# VScode
.vscode/
flask_games.code-workspace

# Flask dir that tracks sessions
flask_session/
# Database of users / Rooms. 
*.db
# If database is needed in git, can use sqlite to dump contents into a csv file for git to track
# Can add a pre-commit hook to git

# Logs
logs/

# Mac
.DS_Store

# Scratch files
scrap
scratch*
test.py
