.hand-container {
    display: inline-flex;
}

.hand-container[data-current='1'] {
    background-color: lightgreen;
}

#game-container {
    display: flex;
    margin-top: 6rem;
    margin-bottom: 6rem;
    transform: translateX(6%);
}

/* Set colors of cards based on suit data attribute */
.rotate-card-container[data-suit='S'] {
    color: black;
}
.rotate-card-container[data-suit='H'] {
    color: crimson;
}
.rotate-card-container[data-suit='D'] {
    color: rgb(53, 109, 155);
}
.rotate-card-container[data-suit='C'] {
    color: seagreen;
}

.card-container {
    margin: 0.25rem;
    position: relative;
    transform-style: preserve-3d;
}


.rotate-card-container {
    position: relative;
    width: 2.5rem;
    height: 3.5rem;
    outline-color: #000;
    outline-width: medium;
    border-radius: 0.3rem;
    /* Animation */
    transform-style: preserve-3d;
    transition: transform 2s ease-in;
    transform: rotateY(180deg);
}

.playing-card {
    border-radius: 0.3rem;
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card-front {
    background-color: white;
    box-shadow: -1px -1px 2px 0px #10101075;
}

.card-back {
    background-color: rgb(83, 86, 87);
    transform: rotateY(180deg);
    /* Repeat box shadow for back else shadow is flipped */
    box-shadow: -1px -1px 2px 0px #10101075;
}

.card-container  {
    transition: transform 2s ease-in;
    transform: rotateY(180deg);
}

#deck {
    transform: rotateY(0);
}
