/* Use root to set global vars */
:root {
    /* Makes all nav links white */
    --bs-nav-link-color: white;
    --card-width: 2.5rem;
    --card-height: 3.5rem;
    --card-border-radius: 0.3rem;
}

/* Home & Header and Footer */

.nav {
    background-color: #000000;
    color: #ffffff;
    justify-content: center;
}

h1 {
    font-size: 4rem;
    font-weight: bold;
    color: #ffffff;
}

h2 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #000000;
}

h3 {
    font-size: 2rem;
    font-weight: bold;
    color: #ffffff;
}

h4 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #000000;
}

header {
    background-color: #000000;
    color: #ffffff;
    margin-bottom: 1.5rem;
    padding: 1rem 1rem;
    justify-content: center;
}

body {
    background-color: #dddddd;
}

.nav-link {
    color: #ffffff
}

#sub-header {
    display: grid;
    /* Three columns: left, center, right. Equal sizes. */
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}

/* Left, center, right are associated with grid-column 1, 2, 3 */
#sub-header-left {
    text-align: center;
    grid-column: 1;
}  
#sub-header-center {
    text-align: center;
    grid-column: 2;
}  
#sub-header-right {
    text-align: center;
    grid-column: 3;
}

.container-custom {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
    gap: 4rem;
}

footer {
    background-color: #000000;
    color: #ffffff;
    margin-top: 6rem;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100px;
}

.signature {
    color: #ffffff;
    display: flex;
    justify-content: center;
}

.filler-span {
    min-width: 30px;
}

/* Card is the Bootstrap div. Card in a game is game-card */
.card {
    width: 18rem;
    height: 22rem;
    display: inline-block;
    /* Margin caps at 3 cards per line, no margin allows more than 3 cards */
    margin: 1rem;
}

.btn-custom:hover {
    background-color: #bbbbbb;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-custom {
    width:100%; /* Makes button fill the container */
    height:100%; /* Makes button fill the container */
    background-color: #dfdfdf;
    border: 1px solid black;
    border-radius: 0.25rem;
    color: #000000;
    font-size: 0.95rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
}

/* Lobby */
.lobby-container {
    padding-top: 20px;
    padding-bottom: 2rem;
}

.lobby-header {
    padding: .5rem;
    display: flex;
    justify-content: space-between; /* Adjust spacing between panels */
    align-items: center; /* Align panels vertically in the middle */
}

/* For hover on lobby room table */
.room-table .room-tbody .room-tr:hover .room-td {
    cursor: pointer;
    background-color: lightgray;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* Modals */
.modal {
    position: fixed;
    /* Center */
    top: 50%;
    left: 50%;
    /* Scale(0) hides the modal */
    transform: translate(-50%, -50%) scale(0);
    /* Modal would not appear without setting display */
    display: none;
    /* Advantage of scale over display: none is ability to add animation */
    transition: 500ms;
    /* border: 1px solid black; */
    border-radius: 10px;
    z-index: 10;
    background-color: rgb(255, 255, 255);
    width: 500px;
    max-width: 80%;
    /* max-height: 80%; */
}

.modal.active {
    /* Scale(1) unhides modal */
    transform: translate(-50%, -50%) scale(1);
    /* Modal would not appear without setting display */
    display: block;
}

.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    text-align: center;
}

.modal-title {
    margin: auto; /* Centers the header text */
}

.modal-header .modal-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header .modal-close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* For rules modal, change display from flex to block */
#rules-modal-body {
    display: block;
}

/* Override bootstrap border for modal footers */
.modal-footer {
    border: none;
}

#modal-overlay {
    position: fixed;
    opacity: 0;
    /* Matches the transition of modal */
    transition: 500ms;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    /* Allows you to click outside of modal (in overlay) */
    pointer-events: none;
}

#modal-overlay.active {
    opacity: 1;
    pointer-events: all;
}

/* Set different heights depending on how much needs to fit on modal */
#username-modal {
    max-height: 30%;
}

#password-modal {
    max-height: 30%;
}

#create-room-modal {
    max-height: 60%;
}

input[type="radio"]{
    appearance: none;  /* Remove circles from radio inputs */
}

/* Game */
#game-room-container {
    display: grid;
    /* Two columns: game, chat. */
    grid-template-columns: 2fr 1fr;
    align-items: center;
    justify-items: center;
    margin: 3rem;
}

#game-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
}

.game-grid {
    /* Make sure the grids are fixed size or for animation */
    width: calc(5 * var(--card-width));
    height: calc(3 * var(--card-height));
}

/* grid - 9 parts to put up to 8 players around the board */
/* 
            1  2  3
            4  5  6
            7  8  9

            2: player 2 if two people; 3 if 3-4 people

4:player 2      5: deck     6: player 4 if 4 people
if 3 people     discard

            8: self
*/

#board {
    display: inline-flex;
    /* grid-column: 5; */
}

/* Self container */
.player-container[data-display-order="8"] {
    grid-column: 8;
}

/* Only panel left is chat panel. 
Can turn game room container into grid - 2fr for players and board and 1fr for chat */
.panel {
    border: 1px solid black;
    padding: 1rem;
    margin: 1rem;
}

.name-container {
    margin: 1rem;
}

.hand-container {
    display: inline-flex;
}

/* Put margin into card container rather than card itself */
.card-container {
    margin: 0.25rem;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 2s ease-in;
    transform: rotateY(180deg);
}

/* Container in between card-container and playing-card that facilitates animation */
.rotate-card-container {
    position: relative;
    width: var(--card-width);
    height: var(--card-height);
    outline-color: #000;
    outline-width: medium;
    border-radius: var(--card-border-radius);
    /* Animation */
    transform-style: preserve-3d;
    transition: transform 2s ease-in;
    transform: rotateY(180deg);
}

/* Highlight card container on hover, if selectable */
.rotate-card-container.selectable:hover {
    /* Kinda ugly right now, ideally would have animation of border radiating outward */
    outline-color: #ac1430;
    outline-width: thick;
    outline-style: solid;
    border-radius: var(--card-border-radius);
}

/* Playing card (as opposed to Bootstrap card) */
.playing-card {
    /* Had to remove padding so `10` would appear centered in middle of card */
    padding: unset;
    /* New */
    border-radius: var(--card-border-radius);
    position: absolute;
    height: 100%;
    width: 100%;
    /* -moz-backface-visibility: hidden; */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

/* Back of card */
.card-back {
    background-color: rgb(83, 86, 87);
    /* New */
    transform: rotateY(180deg);
    /* Repeat box shadow for back else shadow is flipped */
    box-shadow: -1px -1px 2px 0px #10101075;
}

/* Front of card */
.playing-card.card-front {
    text-align: center;
    background-color: white;
    /* New */
    box-shadow: -1px -1px 2px 0px #10101075;
}

/* Set colors of cards based on suit data attribute */
.rotate-card-container[data-suit='S'] {
    color: black;
}
.rotate-card-container[data-suit='H'] {
    color: crimson;
}
.rotate-card-container[data-suit='D'] {
    color: rgb(53, 109, 155);
}
.rotate-card-container[data-suit='C'] {
    color: seagreen;
}

/* Start deck card face-down */
#deck-button {
    transform: rotateY(0);
}

#return-lobby-button {
    display: block;
}

.move-button {
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}

/* thirtyOne 31 */
.life-stars-container {
    color: rgb(192, 55, 64);
}

/* Cribbage */
.staged-for-discard {
    /* For some reason card is flipping. May have to specify rotate state */
    transform: translateY(-20%) rotateY(180deg);
}

/* Staged-for-discard was going too slow, specifying transition speed below */
.rotate-card-container.selectable {
    transition-timing-function: linear;
    transition-duration: 250ms;
}

#discard-confirm-button {
    margin: 0.5rem;
}

/* Visual marker for current player */
/* .player-container[data-current='1'] {
    border: 1px solid #000000;
} */

/* Visual marker for disconnected player */
.player-container[data-connected='0'] {
    color: gray;
}

#move-button-container {
    margin-top: 1.5rem;
    display: inline-block;
}

#draw-pickup-knock-container {
    display: flex;
}

#chat-log-panel {
    padding: 1rem;
    text-align: left;
    background-color: #c8d5e3;
    color: rgb(46, 45, 45);
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Display adjacent to game container */
    display: inline-block;
}

#chat-log-header {
    text-align: center;
    text-decoration-style: solid;
}

#chat-log-messages {
    width: 25rem;
    height: 25rem;
    border-top: 2px solid #5c5a5a;
    border-bottom: 2px solid #5c5a5a;
    overflow-y: scroll;
    margin-bottom: .5rem;
    overflow-wrap: break-word;
    scrollbar-width: auto;
}

.chat-log-message {
    margin: .4rem;
}

#chat-input-container {
    position: static;
    display: flex;
    align-items: center;
}
