{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <h2>Change your password</h2>
    <form action="/change_password" method="post">

        <div class="mb-3">
            <label for="old_password">Enter old password:</label>
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="old_password" name="old_password" type="password">
        </div>
        <div class="mb-3">
            <label for="new_password">Enter new password:</label>
            <input class="form-control mx-auto w-auto" id="new_password" name="new_password" placeholder="Password" type="password">
            <input class="form-control mx-auto w-auto" name="confirmation" placeholder="Re-type password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
{% endblock %}
