{% extends "layout.html" %}

<!-- Title and header are static, will be adjusted depending on room -->

{% block main %}
    
    <!-- Import game var from flask session -->
    <script type="text/javascript">
        var chosenGame = `{{ session["game"] }}`;
    </script>

    <!-- JS For Lobby & Game -->
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/gameLobby.js') }}"></script>

    <!-- Outer container includes whole lobby or game containers -->
    <div id="outer-container"></div>
    
{% endblock %}