{% extends "layout.html" %}

{% block title %}
    Game
{% endblock %}

{% block header %}
    <span id="room-header-button-span"></span>
    <span id="room-header-filler-span"></span>
    <span id="room-header-name-span">
        <h2 id="room-header-h2">Lobby</h2>
    </span>
{% endblock %}

{% block main %}

    <!-- JS For Lobby & Game -->
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/gameLobby.js') }}"></script>

    <!-- Outer container includes whole lobby or game containers -->
    <div id="outer-container"></div>
    
{% endblock %}