{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block header %}
    <h2>Games</h2>
{% endblock %}

{% block main %}
    <div class="container container-custom">
        <form action="/game" method="get">
            <!-- <div class="card">
                <button href="/game" class="choose-game btn-custom" id="choose-all" name="game" value="all">
                    <div class="card-body">
                        <h4 class="card-title">All</h4>
                        <p class="card-text">View of all games available on the site!<br><br></p>
                    </div>
                    <img src="{{ url_for('static', filename='images/all.png') }}" class="card-img-top" alt="all picture">
                </button>
            </div> -->
            <div class="card">
                <button href="/game" class="choose-game btn-custom" id="choose-thirty-one" name="game" value="thirty_one">
                    <div class="card-body">
                        <h4 class="card-title">31</h4>
                        <p class="card-text">Multiplayer card game. Try to reach 31!<br>2-7 players.</p>
                    </div>
                    <img src="{{ url_for('static', filename='images/index/31.png') }}" class="card-img-top" alt="31 screenshot">
                </button>
            </div>
            <div class="card">

                <button href="/game" class="choose-game btn-custom" id="choose-cribbage" name="game" value="cribbage">
                    <div class="card-body">
                        <h4 class="card-title">Cribbage</h4>
                        <p class="card-text">Play Cribbage!<br>2-3 players.</p>
                    </div>
                    <img src="{{ url_for('static', filename='images/index/cribbage.png') }}" class="card-img-top" alt="Cribbage screenshot">
                </button>
            </div>
            <div class="card">
                <button href="/game" class="choose-game btn-custom" id="choose-natac" name="game" value="natac">
                    <div class="card-body">
                        <h4 class="card-title">Natac</h4>
                        <p class="card-text">Gain 10 Victory Points to win!<br>2-4 players.</p>
                    </div>
                    
                    <img src="{{ url_for('static', filename='images/index/natac.png') }}" class="card-img-top" alt="Natac screenshot">
                </button>
            </div>
        </form>
    </div>
{% endblock %}