<!-- Turn this into popup window for game selection screen on room creation or for existing room -->

{% extends "layout.html" %}

{% block title %}
    Lobby
{% endblock %}

{% block header %}
   <h2>Lobby</h2>
{% endblock %}

{% block main %}
    <!-- JS for accessing variables from response to GET request -->
    <script type="text/javascript">
        /* Receive data as dict; transform into JSON */
        const roomData = {{ rooms|tojson }};
    </script>

    <!-- JS For Lobby -->
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/lobby.js') }}"></script>

    <!-- Outer container, table container, table of rooms -->
    <div class="outer-container">
        <div class="table-container">
            <table class="table table-striped room-table" id="room-table">
                <thead id="room-thead">
                    <th id="room-th-name" cursor="pointer">Room</th>
                    <th id="room-th-game">Game</th>
                    <th id="room-th-players">Players</th>
                    <th id="room-th-creator">Created By</th>
                    <th id="room-th-date_created">Date Created</th>
                    <th id="room-th-in_progress">Game Running?</th>
                </thead>
                
                <!-- Add to tbody with in lobby.js -->
                <tbody id="room-tbody"></tbody>
            </table>
        </div>
        <button class="add-room btn-custom" id="add-room-button" onclick="">
            Create Room
        </button>
    </div>
{% endblock %}