<!-- Turn this into popup window for game selection screen on room creation or for existing room -->

{% extends "layout.html" %}

{% block title %}
    Lobby
{% endblock %}

{% block header %}
   <h2>Lobby</h2>
{% endblock %}

{% block main %}
    <!-- JS for accessing variables from response to GET request -->
    <script type="text/javascript">
        /* Receive data as dict; transform into JSON */
        const roomData = {{ rooms|tojson }};
    </script>

    <!-- JS For Lobby -->
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/lobby.js') }}"></script>

    <!-- Outer container, table container, table of rooms -->
    <div class="lobby-container">

        <div class="lobby-header">
            <div class="add-room">
                <a class="add-room" id="add-room-nav" href="/create_room.html">Create Room</a>
            </div>

            <div class="lobby-username">

                {% if not session["username"] %}

                    <form action="/lobby" method="post" class="form-control" id="add-username-form">
                        
                        <div class="mb-3" id="input-container">
                            <input autocomplete="off" class="form-control mx-auto w-auto" name="username" placeholder="Enter name" type="text">
                        </div>

                        <button class="btn btn-primary" type="submit">Submit</button>
                    
                    </form>

                {% else %}
                    <span>Welcome, {{ username }}.</span>
                {% endif %}
            </div>
            
        </div>

        <div class="table-container">
            <table class="table table-striped room-table" id="room-table">
                <thead class="room-thead" id="room-thead">
                    <th class="room-thead" id="room-thead-name" cursor="pointer">Room</th>
                    <th class="room-thead" id="room-thead-game">Game</th>
                    <th class="room-thead" id="room-thead-players">Players</th>
                    <th class="room-thead" id="room-thead-creator">Created By</th>
                    <th class="room-thead" id="room-thead-date_created">Date Created</th>
                    <th class="room-thead" id="room-thead-in_progress">Game Running?</th>
                </thead>
                
                <!-- Add to tbody with in lobby.js -->
                <tbody class="room-tbody" id="room-tbody"></tbody>
            </table>
        </div>

    </div>
{% endblock %}