{% extends "layout.html" %}

{% block title %}
    Stats
{% endblock %}

{% block header %}
    {% if session["user_id"] %}
        <h2>{{ session["username"] }} - Stats</h2>
    {% endif %}
{% endblock %}

{% block main %}
    {% if not session["user_id"] %}
        <div class="info">Please <a href="/login" color="#000000">log in</a> to view stats.</div>
    {% else %}
        <div class="stats mb-5">
            <table class="table table-striped">
                <thead>
                    <th></th>
                    <th>Best Time</th>
                    <th>Average Time</th>
                    <th>Games Won</th>
                    <th>Total Games</th>
                    <th>Win Rate</th>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Easy</th>
                        <td>{{ data["easy"]["best_time"] }}</td>
                        <td>{{ data["easy"]["average_score"] }}</td>
                        <td>{{ data["easy"]["games_won"] }}</td>
                        <td>{{ data["easy"]["total_games"] }}</td>
                        <td>{{ data["easy"]["win_rate"] }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Medium</th>
                        <td>{{ data["medium"]["best_time"] }}</td>
                        <td>{{ data["medium"]["average_score"] }}</td>
                        <td>{{ data["medium"]["games_won"] }}</td>
                        <td>{{ data["medium"]["total_games"] }}</td>
                        <td>{{ data["medium"]["win_rate"] }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Hard</th>
                        <td>{{ data["hard"]["best_time"] }}</td>
                        <td>{{ data["hard"]["average_score"] }}</td>
                        <td>{{ data["hard"]["games_won"] }}</td>
                        <td>{{ data["hard"]["total_games"] }}</td>
                        <td>{{ data["hard"]["win_rate"] }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <a href="/minesweeper" class="btn-custom">Back to Game</a>
    {% endif %}
{% endblock %}