<!-- Might be able to change this to just `game.html` and let
 any game use this HTML and be populated with different games via js -->

{% extends "layout.html" %}

{% block title %}
    31
{% endblock %}

{% block header %}
   <h2>31</h2>
{% endblock %}

{% block main %}

    <!-- SocketIO JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.0/socket.io.js"></script>

    <!-- JS For 31 Game -->
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/thirty_one.js') }}"></script>

    <!-- Outer container includes whole game board / controls. Filled in with script -->
    <div class="outer-container"></div>

{% endblock %}