{% extends "layout.html" %}

{% block title %}
    31
{% endblock %}

{% block header %}
   <h2>31</h2>
{% endblock %}

{% block main %}


    <script type="text/javascript">
        // Get username with initial GET request
        username = `{{ username }}`
    </script>

    <!-- SocketIO JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>

    <!-- JS for building board and handling input -->
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/thirty_one.js') }}"></script>
    
    <!-- Outer container includes whole game board / controls. Filled in with script -->
    <div class="outer-container"></div>

{% endblock %}